@model Reservation

<form method="post" asp-action="DeletePost" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Room</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <input asp-for="Id" hidden />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StartTime"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartTime" disabled class="form-control" />
                        <span asp-validation-for="StartTime"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EndTime"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EndTime" disabled class="form-control" />
                        <span asp-validation-for="EndTime"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RoomId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="RoomId" disabled class="form-control" />
                        <span asp-validation-for="RoomId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
