
@using HotelApp.Models
@model Reservation
@{
    ViewData["Title"] = "Index";
}


<div id="visualization"></div>
<script type="text/javascript">
    var groupsSer = '@Html.Raw(Json.Serialize(ViewBag.GroupData))';
    var groups = JSON.parse(groupsSer);
    var itemsSer = '@Html.Raw(Json.Serialize(ViewBag.ItemData))';
    var items = JSON.parse(itemsSer);
    groups.forEach((group) => {
        group.content = `<div class='roomName'>${group.id} комната</div><div class='roomType'>${group.type}</div><div class='roomCapacity'>${group.capacity} мест</div> `
    });
    // DOM element where the Timeline will be attached
    var container = document.getElementById('visualization');
    var start = new Date((new Date()).getTime() - 5 * 24 * 60 * 60 * 1000);
    var end = new Date((new Date()).getTime() + 25 * 24 * 60 * 60 * 1000);
    var itemCreated = false
    var options = {
        start: start,
        end: end,
        locale: "ru",
        editable: true,
        multiselect: false,
        snap: function (date, scale, step) {
            var hour = 60 * 60 * 1000;
            return Math.round(date / (24 * hour)) * (24 * hour) - 7 * hour;
        },
        onAdd: function (item, callback) {
            if (itemCreated)
                return callback(null);
            if (item.start <= (new Date()).getTime())
                return callback(null);
            itemCreated = true;
            return callback(item);
        },
        onRemove: function (item, callback) {
            itemCreated = false
            callback(item);
        }
    };


    // Create a Timeline
    var timeline = new vis.Timeline(container, items, groups, options);
</script>

