@{
    ViewData["Title"] = "Home Page";

}

    <div class="text-center">
        <h1>Гостиница "Томск"</h1>
    </div>
    <div class="row justify-content-around">
        <div class="col-8">
            <p>
                Индивидуальный подход к каждому клиенту, cовременные технологии и комфортные условия проживания – вот что делает гостиницу «Томск» приятным местом Вашего пребывания в нашем уютном городе.
            </p>
            <p>
                Крупнейшая в городе Томске гостиница категории «3 звезды» — гостиница «Томск» — это прекрасное место для Вашей работы и отдыха. Расположенная на одной из главных улиц города – проспекте Кирова — гостиница находится всего в 15 минутах езды от центра города, а также в непосредственной близости от ЖД и Авто вокзалов. В гостинице и рядом с ней располагаются несколько ресторанов и баров, где Вы можете приятно провести вечер.
            </p>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="~/img/main.jpg" height="225" />
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-12">
            <p>
                «Томск» сегодня – это динамично развивающийся гостиничный комплекс, идущий в ногу со временем. Все 176 номеров современно оборудованы (холодильник, телевизор, телефон – в каждом номере), для проведения деловых мероприятий к Вашим услугам прекрасно оснащенные конференц-зал и бизнес-центр, а также кафе, авиакасса, салон красоты.
            </p>
            <p>
                Но никакие суперсовременные технологии не заменят доброжелательности, заботы и домашнего уюта: того, чего не хватает человеку, оторванному от дома. Мы создадим для Вас неповторимую домашнюю атмосферу. В этом секрет нашего успеха сегодня и гарантия развития в будущем.
            </p>
        </div>
    </div>
